*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(/images/ujjwal_image.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container .contents{
    width: 60%;
    padding-left: 140px;
}
.contents .head-title h2{
    font-size: 78px;
    opacity: 0.7;
}
.head-title h3{
    font-size: 52px;

}
.contents .btn{
text-decoration: none;
display: inline-block;
font-size: 14px;
font-weight: 600;
text-align: center;
color: aliceblue;
background-color: rgb(48, 85, 160);
border: 2px solid rgb(86, 86, 191);
border-radius: 108px;
padding:15px 80px ;
margin-top: 8px;
transition: all 0.5s;
}
.contents .btn:hover{
    color: blue;
    background-color: rgb(130, 38, 38);
    border: 2px solid red;
    

}