*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.newhead{
    margin-top: -259px;
}
.desc{
    font-size: 25px;
}
.tophead li{
   display: inline-block;
    z-index: 1;
    padding: 8px;
    font-size: 30px;
    margin: 40px;
    margin-top: 0px;
}
.tophead li:hover{
    cursor: pointer;
    color: blueviolet;
    box-shadow: inset 134px 0 0 0 #54b3d6;
  color: white;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(/images/finaltemplate1.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container .contents{
    width: 60%;
    padding-left: 140px;
}
.contents .head-title h2{
    font-size: 78px;
    opacity: 0.7;
}
.head-title h3{
    font-size: 52px;

}
.contents .btn{
text-decoration: none;
display: inline-block;
font-size: 14px;
font-weight: 600;
text-align: center;
color: aliceblue;
background-color: rgb(48, 85, 160);
border: 2px solid rgb(86, 86, 191);
border-radius: 108px;
padding:15px 80px ;
margin-top: 8px;
transition: all 0.5s;
}
.contents .btn:hover{
    color: blue;
    background-color: rgb(247, 241, 241);
    border: 2px solid rgb(37, 112, 224);
    

}
@media(max-width:937px){
    .newhead li:nth-child(5){
        display: none;}
}
@media(max-width:704px){
    .newhead li:nth-child(4){
        display: none;}
}
@media(max-width:850px){
    .container .contents{
        width: 70%;
        padding-left: 80px;
    }
.contents .head-title h2{
    font-size: 68px;
}
.contents .head-title h3{
    font-size: 44px;
}

}
@media(max-width:640px){
.container{
    /* background: linear-gradient(#fff,#1b67aa,#143875,#7d98ae),url(/images/ai\ head\ set\ image.jpg); */
    background: url(/images/ai\ head\ set\ image.jpg);
    background-size: cover;
    background-position: bottom;


}
.newhead{
    margin-top: 40px;
}



.newhead li:nth-child(1){
   background-color: #54b3d6;

}
.newhead li:nth-child(2){
   background-color: #54b3d6;

}
.newhead li:nth-child(3){
   display: none;

}
.newhead li:nth-child(4){
   display: none;

}
.newhead li:nth-child(5){
    display: none;
 
 }
.container .contents{
    width: 100%;
    color: aliceblue;
    padding: 260px 30px 0px;
}
.contents .head-title h2{
    font-size: 52px;
    opacity: 1;
    padding: 2px;
}
.contents .head-title h3{
    font-size: 52px;
}

 

}
.second{
    /* margin-top: 30px; */
    line-height: 1.5;

}
.cont{
    max-width: 100%;
    
    margin: auto;
    height: 100vh;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
ul{
    list-style: none;
}

.footer{
    background-color: rgb(253, 253, 253);
    padding: 70px,0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: rgb(17, 173, 28);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aquamarine;
    height: 2px;
    box-sizing: border-box;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: aqua;
    font-weight: 300;
    color: aquamarine;
    display: block;
    transition: all 0.3s ease-in-out;

}
.footer-col ul li a:hover{
    color: aqua;
    padding-left: 10px;
}

